* {
  box-sizing: border-box;
}

body {
  background-color: #fff6f6;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #38231e;
  --text-color: #c47720;
  --color: #c77d29;
  --color3: #da9f5b;
  --secondary-color: #ffff;
  --simple-color: #e2e2e2;
  --color2: #423d3d;
  --primary: #1d0a06;
}

/*---  header-section ---*/

.slider {
  position: relative;
  min-width: 100%;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}


.text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(247, 246, 246);
  z-index: 2;
}

.text h2 {
  font-size: 50px;
  margin: 10px 0;
}

.text h3 {
  color: var(--secondary-color);
  font-size: 13px;
}

nav .fa-solid {
  display: none;
}

nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  color: var(--secondary-color);
  height: 60px;
}

nav h1 {
  cursor: pointer;
}

nav h1:hover {
  color: var(--text-color);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li a:hover {
  color: var(--text-color);
}


/* --- contact start --- */

#contact .h3 {
  margin-top: 5%;
  text-align: center;
  color: var(--color);
  letter-spacing: 5px;
  font-size: 15px;
}

#contact h1 {
  margin-top: 3%;
  color: var(--primary-color);
  font-size: 35px;
  text-align: center;
}

.container1 {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-left: 15%;
}

.container-section {
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 30px;
}

.container-section h6 {
  margin: 10px;
  font-size: 12px;
  color: var(--color2);
}

.container-section h6 span {
  font-size: 30px;
  color: var(--primary-color);
}

.container-section .fas {
  color: var(--color);
  text-align: center;
  margin: 20px;
  padding: 30px;
  font-size: 20px;
}

.container1 .image2 {
  margin-top: 8%;
  position: relative;
  display: flex;
}

.container1 .image2 img {
  width: 500px;
  height: 300px;
  margin-left: 0%;
  object-fit: cover;
}

.div {
  position: absolute;
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: var(--secondary-color);
}

.div h2 {
  margin-top: -2%;
  color: var(--primary-color);
  font-size: 15px;
}

.div h4 {
  font-size: 8px;
  color: var(--color2);
}

.div h5 {
  color: var(--color3);
  text-align: right;
  font-size: 10px;
  margin-top: -40px;
}

.div a {
  text-decoration: none;

}

.div h5 a:hover {
  text-decoration: underline;
  color: var(--color3);
}

.div .fa-solid {
  margin-top: -80px;
  padding: 10px;
  color: var(--color3);
  font-size: 15px;
  text-align: righth6
}

.div h6 {
  color: var(--color3);
  font-size: 10px;
  padding: 8px;
  gap: 10px;
  margin-bottom: -20px;
}

.div h6 a:hover {
  color: var(--color3);
  text-decoration: underline;
}

.form1 {
  margin-top: 8%;
  width: 20%;
  height: 100%;
  flex: 1;
  gap: 40px;
}

.form1 input,
.form1 textarea {
  top: 10%;
  display: block;
  margin: 6px;
  padding: 6px;
  margin-bottom: 15px;
  width: 400px;
}

.form1 input:focus,
.form1 textarea:focus,
.form1 select:focus {
  outline: none;
  border: 2px solid var(--text-color);
}

.form1 button {
  margin-bottom: 20px;
  width: 200px;
  margin: 9px;
  padding: 13px;
  background-color: var(--color);
  color: var(--primary-color);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.form1 button:hover {
  background-color: var(--text-color);
}


/* --- footer-section ---  */

   /* --- footer-section ---  */

   .footer {
       position: relative;
       display: flex;
       width: 100%;
       overflow: hidden;
       margin-top: 20px;
   }


   .footer img {
       object-fit: cover;
       position: absolute;
       width: 100%;
       height: 100%;
   }


   .container {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-between;
       padding: 30px 50px;
   }

   .footer-section {
       margin:4% 20px;
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
   }

   .footer-section h3 {
       color: var(--secondary-color);
       font-size: 30px;
       margin-bottom: 15px;
   }

   .footer-section p {
       color: var(--secondary-color);
       width: 250px;
   }

   .footer-section p strong {
       font-size: 15px;
   }

   .social-icons i {
       color: var(--secondary-color);
       border: 1px solid var(--secondary-color);
       padding: 10px;
       font-size: 15px;
   }

   .social-icons i:hover {
       background-color: var(--secondary-color);
       color: var(--color2);
       outline: none;
   }

   .footer-section form {
       display: flex;
       margin-top: 5px;
   }

   .footer-section form input {
       padding: 10px;
       border: none;
   }

   .footer-section form input:focus {
       border: none;
       outline: none;
   }

   .footer-section form button {
       padding: 10px;
       border: none;
       font-size: 12px;
       background-color: var(--color);
       color: var(--primary-color);
       cursor: pointer;
   }

   form button:hover {
       background-color: var(--text-color);
   }

   .footer-bottom {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       z-index: 2;
       padding: 10px;
       flex-direction: column;
       gap: 5px;
       border-top: 1px solid var(--color2);
   }

   .footer-bottom p {
       color: var(--secondary-color);
       font-size: 16px;
   }

   .footer-bottom p a {
       color: var(--color);
       text-decoration: none;
   }


   .footer-bottom p a:hover {
       text-decoration: underline;
       color: var(--color);
   }

   /* --- Responsive design --- */

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: var(--primary);
    position: absolute;
    top: 40px;
    width: 100%;
    left: 0;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 20px;
    margin-bottom: 15px;
    gap: 15px;
  }

  nav ul.show {
    display: flex;
  }

  .move-down {
    margin-top: 170px;
    transition: margin 0.3s ease;
  }

  .text h2,
  .text h3 {
    font-size: 20px;
  }

  nav .fa-bars {
    font-size: 20px;
    display: block;
  }
  .container1{
    flex-direction: column;
    flex-wrap: wrap;
  }
.container-section{
  flex-wrap: wrap;
  flex-direction: column;
}
  .container {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }
  .div{
    width: 200px;
  }
.container1 .image2 img{
  width: 300px;
  min-height:500px ;
  margin-left: -30px ;
}
.form1{
flex-direction: column;
  flex-wrap:wrap;
}
.form1 input,
.form1 textarea{
width: 250px;
}
  .footer-section {
    margin: 20px 0;
  }

  .footer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }

}