* {
  box-sizing: border-box;
}

body {
  background-color: #fff6f6;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #38231e;
  --text-color: #c47720;
  --color: #c77d29;
  --color3: #da9f5b;
  --secondary-color: #ffff;
  --simple-color: #e2e2e2;
  --color2: #423d3d;
  --primary: #1d0a06;
}


/*---  header-section ---*/

.slider {
  position: relative;
  min-width: 100%;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(247, 246, 246);
  z-index: 2;
}

.text h2 {
  font-size: 50px;
  margin: 10px 0;
}

.text h3 {
  color: var(--secondary-color);
  font-size: 13px;
}


nav .fa-solid {
  display: none;
}



nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  color: var(--secondary-color);
  height: 60px;
}

nav h1 {
  cursor: pointer;
}

nav h1:hover {
  color: var(--text-color);
}

nav ul {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li a:hover {
  color: var(--text-color);
}



/*--- service-section --- */




#service {
  margin: 30px auto;
  padding: 20px;
  display: block;
}

#service h4,
#service .h2 {
  text-align: center;
  margin: 20px auto;
}

#service h4 {
  color: var(--text-color);
  font-size: 20px;
  letter-spacing: 5px;
}

#service .h2 {
  color: var(--primary-color);
  font-size: 45px;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}

.card {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  width: 45%;
  min-width: 300px;
  padding: 10px;
  gap: 20px;
}


.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.card img {
  width: 200px;
  height: auto;
}

.card h1 {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: -3px;
}

.card p {
  color: var(--color2);
  font-size: 15px;
  width: 200px;
  line-height: 1.1;
  word-wrap: break-word;
  word-break: break-word;
}

.card .fa-solid {
  background-color: var(--color);
  color: var(--primary-color);
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}


/* --- footer-section ---  */

.footer {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}


.footer img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}


.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px;
}

.footer-section {
  margin: 4% 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.footer-section h3 {
  color: var(--secondary-color);
  font-size: 30px;
  margin-bottom: 15px;
}

.footer-section p {
  color: var(--secondary-color);
  width: 250px;
}

.footer-section p strong {
  font-size: 15px;
}

.social-icons i {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px;
  font-size: 15px;
}

.social-icons i:hover {
  background-color: var(--secondary-color);
  color: var(--color2);
  outline: none;
}

.footer-section form {
  display: flex;
  margin-top: 5px;
}

.footer-section form input {
  padding: 10px;
  border: none;
}

.footer-section form input:focus {
  border: none;
  outline: none;
}

.footer-section form button {
  padding: 10px;
  border: none;
  font-size: 12px;
  background-color: var(--color);
  color: var(--primary-color);
  cursor: pointer;
}

form button:hover {
  background-color: var(--text-color);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid var(--color2);
}

.footer-bottom p {
  color: var(--secondary-color);
  font-size: 16px;
}

.footer-bottom p a {
  color: var(--color);
  text-decoration: none;
}


.footer-bottom p a:hover {
  text-decoration: underline;
  color: var(--color);
}

/*-------------- Responsive Design --------- */

   @media (max-width: 768px) {
       nav ul {
           display: none;
           flex-direction: column;
           background-color: var(--primary);
           position: absolute;
           top: 40px;
           width: 100%;
           left: 0;
           text-align: left;
           justify-content: flex-start;
           align-items: flex-start;
           padding: 15px 20px;
           margin-bottom: 15px;
           gap: 15px;
       }

       nav ul.show {
           display: flex;
       }

       .move-down {
           margin-top: 170px;
           transition: margin 0.3s ease;
       }
       .text{
        top: 100%;
       }

       .text h2,
       .text h3 {
           font-size: 20px;
       }

       nav .fa-bars {
           font-size: 20px;
           display: block;
       }
           #service {
           display: flex;
           flex-direction: column;
       }

       #service h4,
       #service .h2 {
           font-size: 20px;
       }

       .service-container {
           flex-direction: column;
       }

       .card {
           flex-wrap: wrap;
           flex-direction: column;
       }

       .card img {
           width: 100%;
       }

       .card p {
           text-align: justify;
           width: 250px;
       }

       .special h1 {
           font-size: 25px;
       }

       .special h2 {
           font-size: 15px;
       }

       .special p {
           font-size: 14px;
       }

       .form-group {
           padding: 5px;
      }
          .container {
           flex-direction: column;
           text-align: center;
           padding: 30px 20px;
       }

       .footer-section {
           margin: 20px 0;
    
       }

       .footer img {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: auto;
           min-height: 100%;
           object-fit: cover;
       }
    }