   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       font-family: Arial, sans-serif;
       background: #fff6f6;
   }


   :root {
       --primary-color: #38231e;
       --text-color: #c47720;
       --color: #c77d29;
       --color3: #da9f5b;
       --secondary-color: #ffff;
       --simple-color: #e2e2e2;
       --color2: #423d3d;
       --primary: #1d0a06;
   }

   /* Header section  */

   nav {
       background-color: var(--primary);
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px 50px;
       color: var(--secondary-color);
       height: 60px;
   }

   nav h1 {
       cursor: pointer;
   }

   nav h1:hover {
       color: var(--text-color);
   }

   nav ul {
       display: flex;
       /* flex-wrap: wrap; */
       gap: 20px;
       list-style: none;
   }

   nav ul li a {
       text-decoration: none;
       color: var(--secondary-color);
   }

   nav ul li a:hover {
       color: var(--text-color);
   }

   /* --- Slider --- */


   .slider {
       position: relative;
       width: 100%;
       height: 80vh;
       overflow: hidden;
   }

   .slides {
       display: flex;
       width: 100%;
       height: 100%;
       transition: transform 0.6s ease-in-out;
   }

   .slide {
       min-width: 100%;
       height: 100%;
       position: relative;

   }

   .slide img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       opacity: 10px;
       background-color: rgba(44, 31, 28, 0.7);
   }

   .text {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
       color: white;
   }

   .text h2 {
       font-size: 2rem;
       color: var(--text-color);
   }

   .text h3 {
       margin-top: 10px;
       font-size: 1rem;
   }

   /* Navigation buttons */
   .prev,
   .next {
       position: absolute;
       top: 50%;
       background: var(--primary-color);
       color: var(--secondary-color);
       border: none;
       font-size: 24px;
       cursor: pointer;
       padding: 12px;
       border-radius: 50%;
       z-index: 10;
   }

   .prev {
       left: 20px;
   }

   .next {
       right: 20px;
   }

   nav .fa-solid {
       display: none;
   }


   /* --- End Header --- */


   /* --- Start About container ---*/

   #about {
       padding: 50px 20px;
       text-align: center;
   }

   #about h4 {
       font-size: 20px;
       color: var(--color);
       margin-bottom: 10px;
   }

   #about h1 {
       font-size: 36px;
       margin-bottom: 40px;
       color: var(--primary);
   }

   .about-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       gap: 20px;
       max-width: 1200px;
       margin: auto;
   }

   .story,
   .img,
   .version {
       flex: 1 1 30%;
       min-width: 280px;
       text-align: left;
   }

   .story h2,
   .version h2 {
       color: var(--primary);
       margin-bottom: 10px;
   }

   .story p,
   .version p {
       font-size: 15px;
       color: var(--color2);
       line-height: 1.6;
   }


   .img img {
       max-width: 50%;
       border-radius: 10px;
       display: block;
       margin: auto;
   }

   .story .btn {
       margin: 20px;
       padding: 20px;
       text-align: center;
       background-color: var(--primary-color);
       color: var(--secondary-color);
       border: none;
       font-size: 18px;
   }

   .story .btn:hover {
       color: var(--color);
   }


   .btn2 {
       margin: 15px;
       padding: 15px;
       text-align: center;
       background-color: var(--color);
       color: var(--primary-color);
       border: none;
       margin-right: 50%;
       font-size: 18px;
   }

   .btn2:hover {
       background-color: #c47720;
   }

   /* --- End About section --- */

   /*--- Start service-section --- */


   #service {
       margin: 30px auto;
       padding: 20px;
       display: block;
   }

   #service h4,
   #service .h2 {
       text-align: center;
       margin: 20px auto;
   }

   #service h4 {
       color: var(--text-color);
       font-size: 20px;
       letter-spacing: 5px;
   }

   #service .h2 {
       color: var(--primary-color);
       font-size: 45px;
       margin-bottom: 40px;
   }

   .service-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 30px;
       margin: 20px auto;
   }

   .card {
       display: flex;
       /* flex-direction: row; */
       align-items: flex-start;
       width: 45%;
       min-width: 300px;
       padding: 10px;
       gap: 20px;
   }


   .text-content {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       text-align: left;
   }

   .card img {
       width: 200px;
       height: auto;
   }

   .card h1 {
       font-size: 18px;
       color: var(--primary-color);
       margin-bottom: -3px;
   }

   .card p {
       color: var(--color2);
       font-size: 15px;
       width: 200px;
       line-height: 1.1;
       word-wrap: break-word;
       word-break: break-word;
   }

   .card .fa-solid {
       background-color: var(--color);
       color: var(--primary-color);
       font-size: 16px;
       margin: 10px;
       padding: 10px;
       border-radius: 50%;
   }

   /*--- End service-section --- */

   /* --- Offer start --- */




   .special {
       background: url(image/img-text.jpg) hsla(12, 30%, 17%, 0.336);
       width: 100%;
       background-repeat: none;
       object-fit: cover;
       text-align: center;
       background-blend-mode: hsla(12, 30%, 17%, 0.336);

   }


   .special h1 {
       color: var(--color);
       font-size: 35px;
       margin-top: 20px !important;
   }

   .special h2 {
       color: var(--secondary-color);
       font-size: 20px;
       margin: 0 !important;
   }

   .special p {
       color: var(--secondary-color);
       font-size: 15px;
       margin: 0 !important;
   }

   .form-group {
       display: flex;
       justify-content: center;
   }

   .form-group input {
       padding: 10px;
       border: none;
       margin-bottom: 10px;
   }

   .form-group input:focus {
       border: #423d3d;
       outline: none;
   }

   .form-group button {
       padding: 10px 20px;
       background-color: var(--color);
       color: var(--primary-color);
       border: none;
       cursor: pointer;
       margin-bottom: 10px;
   }

   .form-group button:hover {
       background-color: var(--text-color);
   }

   /* --- End offer --- */

   /* --- Start Menu --- */

   #menu {
       padding: 50px 20px;
       text-align: center;
   }

   #menu .text1 h3 {
       font-size: 20px;
       color: var(--color);
       margin-bottom: 10px;
   }

   #menu .text1 h1 {
       font-size: 36px;
       margin-bottom: 40px;
       color: var(--primary);
   }


   .menu-section-wrap {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       /* text-align: left; */
   }

   .menu-section {
       text-align: left;
       display: flex;
       flex-wrap: flex-start;
       flex-direction: column;
       justify-content: space-around;
   }

   .menu-section h2 {
       color: var(--primary-color);
       margin-bottom: 20px;
       font-size: 28px;
       text-align: center;
   }

   .item-card {
       position: relative;
       margin-bottom: 30px;

   }

   .item-card img {
       width: 200Px;
       height: 200px;
       padding: 25px;
       margin-left: -45%;
       border-radius: 120%;
   }

   .overlay {
       flex-wrap: wrap;
       color: var(--color2);
       width: 100%;
       margin-top: -80%;
       margin-left: 42%;
   }

   .overlay h4 {
       text-align: center;
       margin-left: 15%;
       font-size: 20px;
       white-space: none;
       color: var(--primary-color);
   }

   .overlay p {
       font-size: 16px;
       margin-left: 20%;
       width: 180px;
       line-height: 0.9;
   }

   .overlay span {
       position: absolute;
       background-color: var(--color);
       color: var(--primary-color);
       border-radius: 50%;
       padding: 8px;
       margin-top: -10px;
       margin-left: -8%;
       font-size: 18px;
   }


   /* --- End Menu --- */

   /* ---Start reservation-section --- */

   .reservation-section {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 40px;
   }

   .reservation-section img {
       position: relative;
       width: 60%;
       max-height: 450px;

       object-fit: cover;
       margin: 0 auto;
   }

   .overlay-content {
       transform: translateX(35%);
       position: absolute;
       display: flex;
       text-align: center;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       padding: 40px;
       z-index: 2;
   }

   .reservation {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       margin-right: 40px;
       color: var(--secondary-color);
   }

   .reservation h3 {
       color: var(--color);
       font-size: 45px;
       margin-bottom: 10px;
   }

   .reservation h2 {
       color: var(--secondary-color);
       font-size: 28px;
       margin-bottom: 10px;
   }

   .reservation p {
       color: var(--simple-color);
       font-size: 16px;
       width: 300px;
       line-height: 1.5;
       margin-bottom: 15px;
   }

   .userlist p {
       display: flex;
       align-items: center;
       font-size: 15px;
       margin-bottom: 8px;
   }

   .userlist i {
       color: var(--color);
       margin-right: 10px;
   }

   .form {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }

   .form h1 {
       color: var(--secondary-color);
       text-align: center;
       margin-bottom: 20px;
   }

   .form input,
   .form select {
       background-color: var(--primary-color);
       color: var(--secondary-color);
       display: block;
       margin: 10px auto;
       padding: 12px;
       width: 100%;
       border: 2px solid var(--color3);
   }

   .form select option {
       background-color: var(--secondary-color);
       color: var(--color2);
   }

   .form input:focus,
   .form select:focus {
       outline: none;
       border: 2px solid var(--text-color);
   }

   .form button {
       width: 100%;
       padding: 13px;
       background-color: var(--color);
       color: var(--primary-color);
       border: none;
       font-size: 16px;
       cursor: pointer;
   }

   .form button:hover {
       background-color: var(--text-color);
   }

   /* --- End Reservation Section--- */

   /* --- footer-section ---  */

   .footer {
       position: relative;
       display: flex;
       width: 100%;
       height: 500px;
   }


   .footer img {
       object-fit: cover;
       position: absolute;
       width: 100%;
       max-height: 500px;
   }


   .container {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-between;
   }

   .footer-section {
       margin: 10% 20px;
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
       gap: 8px;
   }

   .footer-section h3 {
       color: var(--secondary-color);
       font-size: 30px;
   }

   .footer-section p {
       color: var(--secondary-color);
       width: 250px;
   }

   .footer-section p strong {
       font-size: 15px;
   }

   .social-icons i {
       color: var(--secondary-color);
       border: 1px solid var(--secondary-color);
       padding: 10px;
       font-size: 15px;
   }

   .social-icons i:hover {
       background-color: var(--secondary-color);
       color: var(--color2);
       outline: none;
   }

   .footer-section form {
       display: flex;
       margin-top: 5px;
   }

   .footer-section form input {
       margin-top: 20px;
       padding: 10px;
       border: none;
   }

   .footer-section form input:focus {
       border: none;
       outline: none;
   }

   .footer-section form button {
       margin-top: 20px;
       padding: 10px 10px;
       border: none;
       font-size: 12px;
       white-space: none;
       background-color: var(--color);
       color: var(--primary-color);
       cursor: pointer;
   }

   form button:hover {
       background-color: var(--text-color);
   }

   .footer-bottom {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       flex-direction: column;
       gap: 10px;
       border-top: 1px solid var(--color2);
   }

   .footer-bottom p {
       color: var(--secondary-color);
       font-size: 16px;
   }

   .footer-bottom p a {
       color: var(--color);
       text-decoration: none;
   }


   .footer-bottom p a:hover {
       text-decoration: underline;
       color: var(--color);
   }


   /* ----------- responsive design ------- */

   @media (max-width: 768px) {
       nav ul {
           display: none;
           flex-direction: column;
           background-color: var(--primary);
           position: absolute;
           top: 40px;
           width: 100%;
           left: 0;
           text-align: left;
           justify-content: flex-start;
           align-items: flex-start;
           padding: 15px 20px;
           margin-bottom: 15px;
           gap: 15px;
       }

       nav ul.show {
           display: flex;
       }

       .move-down {
           margin-top: 200px;
           transition: margin 0.3s ease;
       }

       .text h2,
       .text h3 {
           font-size: 20px;
       }

       .prev,
       .next {
           font-size: 16px;
       }

       nav .fa-bars {
           font-size: 20px;
           display: block;
       }

       #service {
           display: flex;
           flex-direction: column;
       }

       #service h4,
       #service .h2 {
           font-size: 20px;
       }

       .service-container {
           flex-direction: column;
       }

       .card {
           flex-wrap: wrap;
           flex-direction: column;
       }

       .card img {
           width: 100%;
       }

       .card p {
           text-align: justify;
           width: 250px;
       }

       .special h1 {
           font-size: 25px;
       }

       .special h2 {
           font-size: 15px;
       }

       .special p {
           font-size: 14px;
       }

       .form-group {
           padding: 5px;
       }

       #menu {
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
       }

       #menu .text1 h1 {
           font-size: 18px;
       }

       .menu-section h2 {
           text-align: center;
           margin-bottom: 10px;
       }

       .menu-section-wrap {
           flex-direction: column;
           align-items: center;
       }

       .menu-section {
           width: 100%;
           flex-direction: column;
           align-items: center;
       }

       .item-card {
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-bottom: 40px;
       }

       .item-card img {
           margin-left: 0;
           width: 180px;
           height: 180px;
           padding: 0;
           border-radius: 50%;
       }

       .overlay {
           margin: 10px 0 0 0;
           text-align: center;
           width: 100%;
       }

       .overlay h4,
       .overlay p,
       .overlay span {
           margin-left: 0;
       }

       .overlay span {
           /* position: static; */
           display: inline-block;
           margin-top: -110%;
       }

       .reservation-section img {
           flex-wrap: wrap;
           transform: translateY(10%);
           width: 100%;
           min-height: 800px;
           margin: 0 auto;
       }

       .reservation h2 {
           font-size: 20px;
       }

       .reservation h3 {
           font-size: 35px;
       }

       .reservation p {
           width: 250px;
       }

       .overlay-content {
           text-align: center;
           margin-top: 10rem;
           transform: translateX(-30px);
           margin-bottom: 10%;
       }

       .footer {
           margin-top: 19%;
       }

       .footer img {
           min-width: 80%;
           min-height: 1000px;
       }


       .footer-bottom p {
           width: 300px;
           font-size: 14px;
       }

   }